<nav aria-label="Data grid navigation" *ngIf="isVisible">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{disabled: !links.prev}">
      <a class="page-link" [routerLink]="" tabindex="-1" (click)="loadPage(links.pp)">Previous</a>
    </li>
    <li *ngFor="let pageNo of pages" class="page-item" >
      <a class="page-link" [routerLink]="" (click)="loadPage(pageNo)">{{pageNo}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: !links.next}">
      <a class="page-link" [routerLink]="" (click)="loadPage(links.np)">Next</a>
    </li>
  </ul>
</nav>
